*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

.Container {
  border: 2px solid white;
  padding: 4rem;
  border-radius: 25px;
  background-color: darkgrey;
}


