{% extends 'base.html' %}

{% block content %}
<div class="flex-col" style="align-items: center; margin-bottom:1rem;">
    <div>
    <form action="/tags/new" method="post">
        <h2 class="underline orange" style="align-self: flex-start;margin-bottom: 1.5rem;">{{ heading }}</h2>
        <div style="width: 100%">
            <label for="tag_name">Name</label>
            <input type="text" name="tag_name" placeholder="Name your tag" style="width: 100%">
        </div>
        <div class="flex-row" style="justify-content: flex-end; width: 100%">
            <button class="delete-btn"><a href="/tags">CANCEL</a></button>
            <button type="submit" class="add-btn" style="margin-left: 1rem;">ADD</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}