<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Feedback</title>
</head>
<body>
    <nav class="flex-row" style="align-items: center;justify-content: space-between;">
        <h1 class="orange"><a href="/">FEEDBACK</a></h1>
        <ul class="flex-row orange">
            <li><a href="/signin">SIGN IN</a></li>
            <li><a href="/logout">LOG OUT</a></li>
        </ul>
    </nav>
    <div class="wrapper">
    {% block content%} {% endblock %}
</div>
    <script src="./static/app.js"></script>
</body>
</html>