{% extends 'base.html' %}

{% block content %}
<div class="flex-col" style="align-items: center; margin-bottom:1rem;">
    <div>
    <form action='/tags/{{tag.id}}/edit' method='post'>
        <h2 class="underline orange" style="align-self: flex-start;">{{ heading }}</h2>
        <div style="width: 100%">
            <label for="tag_name">Tag</label>
            <input type="text" name="tag_name" style="width: 100%" value="{{tag.tag_name}}">
        </div> 
        <div class="flex-row" style="justify-content: flex-end; width: 100%">
            <button class="cancel-btn"><a href="/tags">CANCEL</a></button>
            <button type="submit" style="margin-left: 1rem;" class="add-btn">SAVE</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}