{% extends 'base.html' %}

{% block content %}
<div class="flex-col" style="align-items: center; margin-bottom:1rem;">
    <h2 class="pet_page_font" style="margin-bottom: 2rem;">ADD FEEDBACK</h2>
    <form action="/users/{{username}}/feedback/add" method='POST'>
        {{ form.csrf_token }}
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
            <div>
                {{field.label}}
                {{field}}
            </div>
            {% endif %}
    
        {% endfor %}
        <button class="add-btn">SUBMIT</button>
        </form>
</div>
{% endblock %}