{% extends 'base.html' %}

{% block content %}
   <div class="flex-col" style="align-items: center;">
        <h2>YOU MADE IT</h2>
        <div class="flex-row" style="justify-content: flex-start;">
            <button class="cancel-btn"><a href="/">CANCEL</a></button>
            <button class="add-btn" style="margin-left:1rem; margin-right: 1rem;"><a href="/">EDIT</a></button>
            <button class="delete-btn"><a href="/delete">DELETE</a></button>
        </div>
    </div>
{% endblock %}

