{% extends 'base.html' %}

{% block content %}
   <div class="flex-col" style="align-items: center;gap: 1rem;">
        <div>
            <h2>{{user.username}}</h2> 
        </div>
        <hr style="border-top:3px solid var(--orange);width:50%;">
        <div>
            Name: {{user.first_name}} {{user.last_name}}
        </div>
        <div>
            Email: {{user.email}}
        </div>
        <hr style="border-top:3px solid var(--orange);width:50%;">
        <div class="flex-col" style="align-items: center;gap: 1rem;">
            <h3 class="underline">YOUR FEEDBACK</h3>
            <ul>
                {% for fb in feedback %}
                    <li><a href="/feedback/{{fb.id}}/update">{{fb.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex-row" style="align-items: center;justify-content: space-around; width: 50%;flex-wrap:wrap;">
            <form action="/users/{{user.username}}/feedback/add" style="margin: 1rem;">
                <button>ADD FEEDBACK</button>
            </form>
            <form action="/users/{{user.username}}/delete" method="POST" style="margin: 1rem;"> 
                <button class="del-btn">DELETE ACCOUNT</button>
            </form>
        </div>
</div>
{% endblock %}

