*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey: #f7f3f5;
  --color-red: #cf5c36;
  --color-black: #0a0a0a;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
}

.App-container {
  border: 2px solid white;
  padding: 4rem;
  border-radius: 25px;
  background-color: darkgrey;
  max-width: 40vw;
}


