@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color1 : #fb8500;
    --color2: #023047;
    --color3: #8ecae6;
    --red: #e74242;

}

body {
    width: 100%;
    font-family: 'Bubblegum Sans', cursive;
    letter-spacing: 4px;
}

h1 {
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--color3);
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 1rem 0;
    background-color: var(--color2);
    padding-bottom: 2.5rem;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

button {
    padding: .2rem .5rem;
    background-color: var(--color1);
    color: var(--color2);
    border: 1px solid var(--color2);
    outline: none;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .4s ease;
}

#removeBtn {
    background-color: var(--red);
}

#removeBtn:hover {
    color: var(--red);
    background: transparent;
    border: 1px solid var(--red)
}
button:hover {
    background-color: var(--color2);
    color: var(--color1);
    border: 1px solid var(--color1);

}

input {
    outline: none;
    background: transparent;
    border:none;
    border-bottom: 1px solid var(--color1);
    color: var(--color1);
    font-size: 1.5rem;
}

.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gif {
    margin-top: 2rem;
    min-width: 250px;
    display: block;
}

