.NewTodoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.NewTodoForm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:1rem;
}

.NewTodoForm-button {
    cursor: pointer;
    padding: .2rem .5rem;
    border-radius: 10px;
    border: 1px solid var(--light-beige);
    background-color: var(--dark-green);
    color: var(--light-beige);
    transition: all .4s ease;
}

.NewTodoForm-button:hover {
    background-color: var(--pea-green);
    color: var(--black);
}