@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-position: inside;
}

.wrapper {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 2rem;
}


.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.user h2 {
    align-self: flex-start;
}

.user button {
    align-self: flex-end;
}

/* ALL USERS STYLES */
.container {
    display: flex;
    flex-direction: column;    
}

/* ADD USER STYLES */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}



form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: .8rem 0;
}

input[type='text'] {
    margin-top: .2rem;
    width: 15rem;
    padding: .5rem;
} 
