*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* grid-auto-flow: column; */
    height: 40vh;
}
.q-form input {
    margin: .5rem 0;
}

.submit-btn {
    padding: .3rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
}