*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* grid-auto-flow: column; */
    height: 40vh;
}

h2, h4 {
    text-align: center;
    margin: .5rem 0;
}

.q-form input {
    margin: .5rem 0;
}

.submit-btn {
    padding: .3rem;
    text-transform: uppercase;
}

.home-btn {
    margin-top: 2rem;
    margin-left: 40%;
}

a {
    text-decoration: none;
    color: black;
}

.msg {
    color:white;
    background-color:red;
    padding: .2rem .4rem;
    border-radius: 5px;

}