@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #042940; 
  --dark-green: #005C53; 
  --pea-green: #9FC131; 
  --yellow: #DBF227; 
  --light-beige: #D6D58E; 
  --font: 'Poppins', sans-serif;
}

body {
  background-color: var(--black);
}

.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: var(--yellow);
  font-family: var(--font);
}














