.Todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Todo-block {
    border: 1px solid var(--light-beige);
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--light-beige);
}

.Todo-cancel-btn {
    cursor: pointer;
    margin-top: .8rem;
    padding: .2rem .5rem;
    border-radius: 10px;
    border: 1px solid var(--light-beige);
    background-color: var(--dark-green);
    color: var(--light-beige);
    transition: all .4s ease;
}

.Todo-cancel-btn:hover {
    background-color: var(--pea-green);
    color: var(--black);
}

.done {
    background-color: green;
}

.not-done {
    background-color: red;
}