*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary : #0081af;
    --secondary : #fac643;
    --grey : #e2f0f3;
}

 body {
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
 }

 h1 {
     text-align: center;
     margin: 0 auto;
     margin-bottom: 4rem;
     padding-bottom: 1rem;;
     color: var(--secondary);
     border-bottom: 2px solid var(--secondary);
 }

 input[type=text] {
     background-color: var(--primary);
     outline: none;
     border: none;
     border-bottom: 2px solid var(--secondary);
     width: 12rem;
     margin-right: 10px;
 }

 button {
     cursor: pointer;
     padding: .5rem 1rem;
     border-radius: 5px;
     background-color: var(--secondary);
     color: white;
     outline: none;
     border: 2px solid transparent;
     
     transition: all .4s ease;
 }

 button:hover {
     background-color: var(--primary);
     color: var(--secondary);
     border: 2px solid var(--secondary);
 }

 section {
     margin: 2rem 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 section h3 {
     margin: 2rem 0;
     color: var(--secondary);
 }

 ul li {
     list-style-type: none;
     margin: .2rem 0;
 }