*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary : #0081af;
    --secondary : #fac643;
    --grey : #e2f0f3;
}

 body {
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    line-height: 1.5;
 }

 h1 {
     text-align: center;
     margin: 0 auto;
     /* margin-bottom: 4rem; */
     color: var(--secondary);
     border-bottom: 2px solid var(--secondary);
 }

 input[type=text] {
     background-color: var(--primary);
     outline: none;
     border: none;
     border-bottom: 2px solid var(--secondary);
     width: 12rem;
     margin-right: 10px;
 }

 button {
     cursor: pointer;
     padding: .5rem 1rem;
     border-radius: 5px;
     background-color: var(--secondary);
     color: white;
     outline: none;
     border: 2px solid transparent;
     
     transition: all .4s ease;
 }

 button:hover {
     background-color: var(--primary);
     color: var(--secondary);
     border: 2px solid var(--secondary);
 }

 section {
     margin: 2rem 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .todo-list {
     border-top: 2px solid var(--secondary);
 }

 .todo-list__top {
     color: var(--secondary);
     margin: 2rem;
     text-align: center;
 }

 ul li {
    cursor: pointer;
    list-style-type: none;
     margin: .2rem 0;
 }

 ul div {
     display: flex;
     align-items: center;
     justify-content: space-between;
     /* border: 1px solid red; */
     min-width: 7rem;
 }

 ul {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     /* border: 1px solid red; */
 }

 .completed {
    text-decoration: line-through;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 3px;
    color: var(--secondary);
 }

 span {
     cursor: pointer;
     transition: all .4s ease;
 }

 span:hover {
    color: red;
 }