{% extends 'base.html' %}

{% block content %}
<div class="flex-col" style="align-items: center; margin-bottom:1rem;">
    <div>
    <form action="/users/{{user_id}}/posts/new" method="post">
        <h2 class="underline orange" style="align-self: flex-start;margin-bottom: 2rem;">{{ heading }}</h2>
        <div style="width: 100%">
            <label for="post_title">Title</label>
            <input type="text" name="post_title" placeholder="Name of your post" style="width: 100%">
        </div>
        <div>
            <label for="post_content">Content</label>
            <textarea name="post_content"  rows="10" cols="40" style="padding: .5rem" placeholder="Your Content Here..."></textarea>
        </div>
        <div style="width: 100%">
            <h2 class="underline orange" style="align-self: flex-start;margin-bottom: 2rem;">TAGS</h2>
            {% for tag in tags %}
                <div class="flex-row" style="align-items:center; margin:.2rem 0;">
                    <input type="checkbox" value="{{tag.id}}" name="tag" id="{{tag.tag_name}}">
                    <label for="{{tag.tag_name}}">&nbsp;&nbsp;{{tag.tag_name}}</label>
                </div>
            {% endfor %}
        </div>
        <div class="flex-row" style="justify-content: flex-end; width: 100%">
            <button class="delete-btn"><a href="/users/{{user_id}}">CANCEL</a></button>
            <button type="submit" class="add-btn" style="margin-left: 1rem;">ADD</button>
        </div>
    </form>
    </div>
</div>
{% endblock %}