{% extends 'base.html' %}

{% block content %}
   <div class="flex-col" style="align-items: center;">
        <div>
        <div>
            <h2 class="underline orange" style="margin-bottom: 1rem;">{{tag.tag_name}}</h2> 
        </div>
        <div style="margin-bottom: 1rem;">
            {% for tag in tags %}
                <li><a href="/posts/{{tag.posts.id}}">{{tag.posts.title}}</a></li>
            {% endfor %}
        </div>
        <hr style="margin: 1rem 0;" class="underline">
    </div>
    <div class="flex-row" style="justify-content: flex-start;">
        <button class="cancel-btn"><a href="/tags">CANCEL</a></button>
        <button class="add-btn" style="margin-left:1rem; margin-right: 1rem;"><a href="/tags/{{id}}/edit">EDIT</a></button>
        <button class="delete-btn"><a href="/tags/{{id}}/delete">DELETE</a></button>
    </div>
</div>
{% endblock %}

