{% extends 'base.html' %}

{% block content %}
    <div class="user">
        <div class="container">
            <div class="display-user">
                <img src="{{user.avatar}}" alt="">
                <div>
                    <h2>{{user.first_name}} {{user.last_name}}</h2>
                    <button id="edit"><a href="/users/{{user.id}}/edit">Edit</a></button>
                    <button class="delete-btn"><a href="/users/{{user.id}}/delete">Delete</a></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}