nav {
    padding: 2rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.Nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}