{% extends 'base.html' %}

{% block content %}
    <div class="flex-col" style="align-items: center;">
        <div>
            <h2 class="underline orange" style="margin-bottom: 2rem;">{{heading}}</h2>
            <ul>
                {% for user in users %}
                <li><a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
                {% endfor %}
            </ul>
            <div class="flex-row" style="justify-content: flex-end;">
                <button class="add-btn"><a href="/users/new">Add User</a></button>
            </div>
        </div>
    </div>
{% endblock %}