{% extends 'base.html' %}

{% block content %}
   <div class="flex-col" style="align-items: center;">
        <div style="width: 80%;">
        <div>
            <h2 class="underline orange" style="margin-bottom: 1rem;">{{post.title}}</h2> 
        </div>
        <div style="margin-bottom: 1rem;">
            {{post.content}}
        </div>
        <hr style="margin: 1rem 0;" class="underline">
        <div>
            <span class="orange">Posted By: </span>{{post.user.first_name}} {{post.user.last_name}} :: {{post.created_at}}
        </div>
    </div>
    <div class="flex-row" style="justify-content: flex-start; width: 80%;">
        <button class="cancel-btn"><a href="/users/{{post.user.id}}">CANCEL</a></button>
        <button class="add-btn" style="margin-left:1rem; margin-right: 1rem;"><a href="">EDIT</a></button>
        <button class="delete-btn"><a href="/posts/{{post.id}}/delete">DELETE</a></button>
    </div>
</div>
{% endblock %}

