.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(33,45,29);
  background: radial-gradient(circle, rgba(33,45,29,1) 17%, rgba(68,122,49,1) 46%);
}

.App > h1 {
  color: gray;
}

