{% extends 'base.html' %}
{% block title %}Q-{{num+1}}{% endblock %}
{% block heading %}<h1>Question: {{num+1}} of {{length}}</h1>{% endblock %}

{% block content %}
<div>
    <p>{{q}}</p>
    <form action="/answers" method="post" class="q-form">
        <input type="radio" id="q-{{choices[0]}}" name="answer" value="{{choices[0]}}">
        <label for="q-{{choices[0]}}">{{choices[0]}}</label><br>
        <input type="radio" id="q-{{choices[1]}}" name="answer" value="{{choices[1]}}">
        <label for="q-{{choices[1]}}">{{choices[1]}}</label><br>
        <input type="hidden"  name="index" value="{{num}}">
        <input type="submit" value="Submit" class="submit-btn">
    </form>
</div>
{% endblock %}
