.NewColorForm {
    padding: 25px;
    background-color: lightgray;
    border-radius: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

button {
    padding: .2rem .3rem;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}