.Navigation {
  background-color: #fff;
  border-bottom: 2px solid rgba(0,0,0,.125);
}

.nav-item a {
  display: block;
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(0,0,0,.5);
}