@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');


/*********** QUICK AND DIRTY RESET *******************************************************/
*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*********** COLOR VARS *******************************************************/
:root {
    --prussian-blue: hsla(201, 100%, 14%, 1);
    --orange: hsla(31, 100%, 48%, 1);
    --maximum-yellow-red: hsla(40, 97%, 64%, 1);
    --lemon-meringue: hsla(51, 55%, 82%, 1);
    --blue: rgb(91, 71, 242);
    --green:  hsl(120deg 53% 60%);
    --red: hsla(0, 69%, 50%, 1);
}

/*********** BASE STYLES *******************************************************/
body {
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    
    color: var(--lemon-meringue);
    letter-spacing: 1.5px;
}

a {
    text-decoration: none;
    transition: all .4s ease;
    color: var(--maximum-yellow-red);
}

ul {
    list-style-position: inside;
}

li a {
   color: var(--lemon-meringue);
}

li a:hover, a:hover {
    filter: opacity(50%); 
} 

h2 {
    font-size : clamp(2rem,4vw,12rem);
}


/*********** IMAGES *******************************************************/



/*********** BUTTONS *******************************************************/
button, .button {
    padding: .5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .4s ease;
    letter-spacing: 1.5px;
}

button a, .button a {
    color: var(--prussian-blue);
}

button:hover {
    filter: opacity(50%);
}

.btn-container button:nth-of-type(2){
    margin-left: 1rem;
    margin-right: 1rem;
}

.add-btn {
    background-color: var(--green);
    border: 2px solid var(--green);
}

.cancel-btn {
    color: var(--red);
    border: 2px solid var(--red);
    background-color: transparent;
}

.delete-btn {
    color: var(--red);
    border: 2px solid var(--red);
    background-color: var(--red);
}
.delete-btn a, .edit-btn a, .cancel-btn a {
    color: var(--lemon-meringue);
}

.edit-btn {
    background-color: var(--blue);
    border: 2px solid var(--blue);
}

.tag-btn {
    background-color: var(--orange);
}

.tag-btn a {
    color: var(--lemon-meringue);
}


/*********** FORMS *******************************************************/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: .8rem 0;
}

input, select {
    margin-top: .2rem;
    width: 15rem;
    padding: .5rem;
} 

/*********** LAYOUT HELPERS *******************************************************/

.wrapper {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

/*********** NAV HELPERS ***********/

nav {
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--lemon-meringue);
    margin-bottom: 5vh;
}

nav li {
    list-style-type: none;
    margin: 0 2rem;
}

nav a {
    color: var(--maximum-yellow-red);
    text-transform: uppercase;
    font-size : clamp(1rem,1vw,5rem);
}
nav ul {
    justify-content: space-evenly;
}

/*********** PET CARD ***********/
.card_image {
    width: 250px;
    height: 250px;
    display: block;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 1rem 0;
    border: 2px solid var(--orange);
}


/*********** COLOR HELPERS ***********/

.orange {
    color: var(--maximum-yellow-red);
}

.yellow {
    color: var(--lemon-meringue);    
}

.red {
    color: var(--red);
}

.blue {
    color: var(--prussian-blue);
}

.underline {
    border-bottom: 2px solid var(--lemon-meringue);
}

.available {
    color: var(--lemon-meringue);
    border-radius: .4rem;
    padding: .2rem .5rem;
    background-color: var(--prussian-blue);
}

.pet_details {
    font-size: clamp(1.3rem,2vw,5rem);
    color: red;
    align-items: center;
}
